.depressionParent {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align children elements to the center horizontally */
  justify-content: center; /* Align children elements to the center vertically */
  width: 100%; /* Take the full width of the parent element */
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-poppins);
  margin-top: 150px;
}

/* Update the individual symptom classes like this */
.depression,
.anxiety,
.stress,
.culturalSensitivity,
.selfEsteem,
.qualityOfLife,
.ptsd {
  width: 100%; /* Take full width to allow center text alignment */
  text-align: center; /* Center the text within the bar */
  margin: 30px 0; /* Add some vertical spacing between items */
}
