.depression {
  position: absolute;
  top: -0.76px;
  left: 55.17px;
  text-align: left;
}
.anxiety,
.culturalSensitivity,
.ptsd,
.qualityOfLife,
.selfEsteem,
.stress {
  position: absolute;
  top: 89.52px;
  left: 55.17px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 137.93px;
}
.culturalSensitivity,
.ptsd,
.qualityOfLife,
.selfEsteem,
.stress {
  top: 169.77px;
}
.culturalSensitivity,
.ptsd,
.qualityOfLife,
.selfEsteem {
  top: 260.05px;
  left: 0;
  width: 248.27px;
}
.ptsd,
.qualityOfLife,
.selfEsteem {
  top: 350.33px;
  left: 32.6px;
  width: 183.07px;
}
.ptsd,
.qualityOfLife {
  top: 440.61px;
  left: 18.18px;
  width: 211.91px;
}
.ptsd {
  top: 530.89px;
  left: 55.17px;
  width: 137.93px;
}
.frameChild {
  position: absolute;
  top: 1588.87px;
  left: -115.36px;
  border-radius: 56.42px 0 0 56.42px;
  background-color: var(--color-khaki);
  width: 123px;
  height: 38px;
}
.depressionParent {
  position: absolute;
  top: 252.13px;
  left: 1032.36px;
  width: 248.27px;
  height: 562.99px;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
