@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
body {
  margin: 0;
  line-height: normal;
  background-color: #ddf1ff;
}
.root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 1.5rem;
  --font-size-17xl: 2.25rem;
  --font-size-xs-8: 0.74rem;
  --font-size-8xl-9: 1.74rem;
  --font-size-12xl-4: 1.96rem;
  --font-size-13xl: 2rem;
  --font-size-xs-6: 0.73rem;
  --font-size-8xl-5: 1.72rem;

  /* Colors */
  --color-white: #fff;
  --color-cornflowerblue: #0fa0fe;
  --color-darkslateblue: #013b84;
  --color-black: #000;
  --color-gray: rgba(255, 255, 255, 0.8);
  --color-lightskyblue: #73c8ff;

  /* Gaps */
  --gap-429xl: 28rem;

  /* Border radiuses */
  --br-45xl-5: 64.5px;
  --br-11xl: 30px;
  --br-6xl-4: 25.4px;

  user-select: none;
}
.page-parent {
  font-family: var(--font-inter);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructions {
  position: absolute;
  border: black;
  border-style: solid;
  width: 20%;
  top: 25%;
  left: 1rem;
}
.page-header-container {
  font-family: var(--font-poppins);
  width: 100%;
  margin-top: 3%;
  height: 15%;
  border: black;
  border-style: solid;
  display: flex;
  justify-content: center;
  
}
.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  border: brown;
  border-style: solid;
  width: 50%;
}
.logo {
  width: 20%;
  border: red;
  border-style: solid;
}
.BTS-header {
  width: 80%;
  border: blue;
  border-style: solid;
}
.BTS-title {
  font-weight: 1200;
}
.BTS-description {
  font-weight: 350;
}

.login-form {
  position: relative;
  margin-top: 20px;
  justify-self: center;
  width: 50%;
  border: black;
  border-style: solid;
  text-align: center;
}
h3 {
  margin-bottom: 0;  
}
