.blueMainPanel {
  position: relative;
  top: 0;
  width: 60%;
  /* background-color: #e6f6fe; */
  background: linear-gradient(180deg, #e6f6fe 10%, rgba(253, 132, 28, 0.90) 100%);
  height: 100vh;
  /* z-index: 2; */
  overflow: hidden;
}
.detectedSymptomsMainPanel {
  position: absolute;
  width: 40%; 
  right: 0;
  background-color: #ffffff;
  height: 900px; /* Adjust height as needed */
  z-index: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.5s ease-in;
}

/* .containerStyles1 {
  display: inline block;
  width: 25vw;
  height: 38vw;
  position: absolute;
  padding: 20px;
  top: 10vh;
} */
.containerList {
  height: 50vw;
  width: 80%;
  position: relative;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}


/* .yourResultsAndContainer {
  position: relative;
  top: 10%;
  left: 15%;
  font-family: var(--font-inter);
} */
.analyticsV2Inner {
  position: absolute;
  top: 304px;
  left: 73px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-top: 5px solid var(--color-khaki);
  box-sizing: border-box;
  width: 631px;
  height: 153px;
}
.foundationarrowUpIcon {
  position: absolute;
  top: 355px;
  left: 85px;
  width: 75.02px;
  height: 52px;
  overflow: hidden;
}

.rectangleDiv {
  position: absolute;
  top: 488px;
  left: 73px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-top: 5px solid var(--color-khaki);
  box-sizing: border-box;
  width: 631px;
  height: 153px;
}
.foundationarrowUpIcon1 {
  position: absolute;
  top: 539px;
  left: 85px;
  width: 75.02px;
  height: 52px;
  overflow: hidden;
}

.analyticsV2Child1 {
  position: absolute;
  top: 672px;
  left: 73px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-top: 5px solid var(--color-khaki);
  box-sizing: border-box;
  width: 631px;
  height: 153px;
}
.foundationarrowUpIcon2 {
  position: absolute;
  top: 723px;
  left: 85px;
  width: 75.02px;
  height: 52px;
  overflow: hidden;
}

.headerBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8cd1ff;
  width: 100%;
  height: 80px;
}
.analyticsV2Child4 {
  position: absolute;
  top: 816.38px;
  /* left: 918.25px; */
  left: 10%;
  border-radius: 56.42px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 476.48px;
  height: 37.62px;
}
.detectedSymptoms {
  position: absolute;
  top: 10%;
  /* left: 901px; */
  left: 10%;
  font-size: 45.14px;

}
.analyticsV2Child5 {
  position: absolute;
  top: 284.74px;
  /* left: 918.25px; */
  left: 10%;
  border-radius: 56.42px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 476.48px;
  height: 37.62px;
}
.analyticsV2Child6 {
  position: absolute;
  top: 285px;
  /* left: 918px; */
  left: 10%;
  border-radius: 56.42px 0 0 56.42px;
  background-color: var(--color-dodgerblue);
  width: 237px;
  height: 37px;
}
.analyticsV2Child10,
.analyticsV2Child7,
.analyticsV2Child8,
.analyticsV2Child9 {
  position: absolute;
  top: 375.02px;
  /* left: 918.25px; */
  left: 10%;
  border-radius: 56.42px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 476.48px;
  height: 37.62px;
}
.analyticsV2Child10,
.analyticsV2Child8,
.analyticsV2Child9 {
  top: 455.26px;
}
.analyticsV2Child10,
.analyticsV2Child9 {
  top: 545.54px;
}
.analyticsV2Child10 {
  top: 635.82px;
}
.ellipseIcon {
  position: absolute;
  top: 288.5px;
  /* left: 922.61px; */
  left: 11%;
  width: 28.84px;
  height: 28.84px;
}
.analyticsV2Child11 {
  position: absolute;
  top: 375.02px;
  /* left: 918.25px; */
  left: 10%;
  border-radius: 56.42px 0 0 56.42px;
  background-color: var(--color-darkorange-200);
  width: 387.45px;
  height: 37.62px;
}
.analyticsV2Child12 {
  position: absolute;
  top: 378.78px;
  /* left: 922.61px; */
  left: 11%;
  width: 28.84px;
  height: 28.84px;
}
.analyticsV2Child13 {
  position: absolute;
  top: 546px;
  /* left: 918px; */
  left: 10%;
  border-radius: 56.42px 0 0 56.42px;
  background-color: var(--color-dodgerblue);
  width: 183px;
  height: 37px;
}
.analyticsV2Child14 {
  position: absolute;
  top: 549.31px;
  /* left: 922.61px; */
  left: 11%;
  width: 28.84px;
  height: 28.84px;
}
.analyticsV2Child15 {
  position: absolute;
  top: 636px;
  /* left: 917px; */
  left: 10%;
  border-radius: 56.42px 0 0 56.42px;
  background-color: var(--color-darkorange-200);
  width: 221.94px;
  height: 37.62px;
}
.analyticsV2Child16 {
  position: absolute;
  top: 639.59px;
  /* left: 921.36px; */
  left: 11%;
  width: 28.84px;
  height: 28.84px;
}
.analyticsV2Child17 {
  position: absolute;
  top: 726px;
  /* left: 917px; */
  left: 10%;
  border-radius: 56.42px 0 0 56.42px;
  background-color: var(--color-khaki);
  width: 123px;
  height: 38px;
}
.analyticsV2Child18 {
  position: absolute;
  top: 729.87px;
  /* left: 921.36px; */
  left: 11%;
  width: 28.84px;
  height: 28.84px;
}
.analyticsV2Child19 {
  position: absolute;
  top: 816.38px;
  /* left: 918.25px; */
  left: 10%;
  border-radius: 56.42px 0 0 56.42px;
  background-color: var(--color-dodgerblue);
  width: 421.31px;
  height: 37.62px;
}
.analyticsV2Child20 {
  position: absolute;
  top: 820.15px;
  /* left: 922.61px; */
  left: 11%;
  width: 28.84px;
  height: 28.84px;
}
.analyticsV2Child21 {
  position: absolute;
  top: 455px;
  /* left: 918px; */
  left: 10%;
  border-radius: 56.42px 0 0 56.42px;
  background-color: var(--color-khaki);
  width: 347.33px;
  height: 37.62px;
}
.analyticsV2Child22 {
  position: absolute;
  top: 459.03px;
  /* left: 922.61px; */
  left: 11%;
  width: 28.84px;
  height: 28.84px;
}
.analyticsV2Child23 {
  position: absolute;
  top: 726.1px;
  /* left: 918.25px; */
  left: 10%;
  border-radius: 56.42px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 476.48px;
  height: 37.62px;
  z-index: -1;
}
.analyticsV2Child24 {
  position: absolute;
  top: 727px;
  /* left: 918px; */
  left: 10%;
  border-radius: 56.42px 0 0 56.42px;
  background-color: var(--color-khaki);
  width: 347.33px;
  height: 37.62px;
}
.analyticsV2Child25 {
  position: absolute;
  top: 731px;
  /* left: 923px; */
  left: 11%;
  width: 28.84px;
  height: 28.84px;
}
.analyticsV2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 200vh;
  overflow: hidden;
  text-align: left;
  font-size: 15.57px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.nextStepsContainer {
  position: relative;
  text-align: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  top:100vh;
  background-color: #003559;
  font-size: var(--font-size-41xl);
  font-family: var(--font-inter);
  display: flex;
  justify-content: center;
}
.nextStepsContainerText {
  position: absolute;
  top: 2vh;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: #fff;
  font-family: var(--font-inter);
}

.vectorGraphics {
  position: absolute;
  background-color: var(--color-black);
  bottom: 80px;
  z-index: 2;
}
.previousIcon{
  position: absolute;
  left: 0.5vh;
  top: 27vh;
  height: 6vh;
  width: 6vh;
  transform: scaleX(-1) ;
}
.previousBar{
  position: absolute;
  left: -0.8%;
  top: 20vh;
  height: 20vh;
  width: 4vw;
  
}
.back_button {
  position: absolute;
  right: 7%;
  bottom: 5vh;
  z-index: 3;
  width: 5vw;
  height: 5vw;
}

.vectorGraphic {
  position: absolute;
  fill: linear-gradient(180deg, #9AD5FD 50%, rgba(255, 255, 255, 0.00) 10%);
  bottom: 0;
  background: cover;
  width: 100%;
  height: 45vw;
  z-index: 1;
}


.footerBar {
  position: absolute;
  bottom: 0;
  background-color: #8cd1ff;
  width: 100%;
  height: 80px;
}
.detectedSymptomsMainPanel.expanded {
  width: 100%; /* Or whatever the expanded width should be */
  transition: width 0.5s ease; /* This creates a smooth transition effect */
}

.expandedPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.blueBox {
  background-color: blue; /* Blue background for the box */
  padding: 20px; /* Padding inside the box */
  margin-top: 20px; /* Space above the box */
  color: white; /* Text color */
}

.blueBoxText {
  margin-bottom: 10px; /* Space between text sections */
}

.panelList {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
}

.detectedSymptomsMainPanel {
  position: relative;
  width: 40%;
  right: 0%;
  background-color: #ffffff;
  height: 100vh;
  z-index: 1;
  align-content: center;
  justify-content: center;
  display: flex;
  /* margin-right: 300px; */
  transition: width 0.5s ease-in;
  box-shadow: -10px 0 10px -5px #888888;
}
.containerStyles {
  width: 19vw;
  height: 65vh;
  position: relative;
  padding: 15px;
  top: 4vh;
}
.containerList {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  align-content: center;
}
.yourResults {
  position: absolute;
  margin: 0;
  font-size: 20vh;
  color: #003559;
  font-weight: 1000;
}
.yourResultsAndContainer {
  position: absolute;
  top: 1vh;
  left: 14vw;
  font-size: var(--font-size-41xl);
  font-family: var(--font-inter);
  z-index: 0;
  line-height: 1.0;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.testingOverlay{
  background: linear-gradient(180deg, rgba(253, 132, 28, 0.90) 10%, transparent 60%);
  pointer-events: none;
  width: 19vw;
  height: 65vh;
  position: absolute;
  padding: 0px;
  margin: 15px;
  top: 0vh;
  overflow: hidden;
  left: 0.0vw;
  border-radius: 40px;
  z-index: 2;
}

.analyticsV2Child1 {
  position: absolute;
  top: 672px;
  left: 73px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-top: 5px solid var(--color-khaki);
  box-sizing: border-box;
  width: 631px;
  height: 153px;
}
.foundationarrowUpIcon2 {
  position: absolute;
  top: 723px;
  left: 85px;
  width: 75.02px;
  height: 52px;
  overflow: hidden;
}
.wordsWordswordsWor2 {
  position: absolute;
  top: 712px;
  left: 169px;
  display: inline-block;
  width: 523px;
  height: 144px;
}

.headerBar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #8cd1ff;
  width: 100%;
  height: 80px;
}
.analyticsV2Child4 {
  position: absolute;
  top: 816.38px;
  /* left: 918.25px; */
  left: 10%;
  border-radius: 56.42px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 476.48px;
  height: 37.62px;
}


.nextStepsContainer {
  position: relative;
  text-align: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  /* top: 100vh; */
  background-color: #003559;
  font-size: var(--font-size-41xl);
  font-family: var(--font-inter);
  z-index: 2;
}
.nextStepsContainerText {
  text-align: center;
  font-size: var(--font-size-41xl);
  color: #fff;
  font-family: var(--font-inter);
}

.bubbles1 {
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: flex;
  height: 15vw;
  width: 15vw;
  z-index: -1;
  transform: scaleX(-1)
}
.bubbles2 {
  position: absolute;
  right: 11%;
  bottom: 8%;
  display: flex;
  height: 8vw;
  width: 10vw;
  z-index: -1;
  transform: scaleX(-1)
}
.bubbleright1 {
  position: absolute;
  overflow: hidden;
  left: 6%;
  top: 2vh;
  display: flex;
}

.vectorGraphics {
  position: absolute;
  background-color: var(--color-black);
  bottom: 80px;
  z-index: 1;
}


.footerBar {
  position: absolute;
  bottom: 0;
  background-color: #8cd1ff;
  width: 100%;
  height: 80px;
}

.toggleButton {
  /* Add styles for your expand/exit button here */
  cursor: pointer;
  /* padding: 10px 20px; */
  /* margin-top: 20px;  */
  /* Adjust as needed */
  /* margin-left: 10px; */
  /* background-color: #e2e2e2; */
   /* Example color - use what fits your design */
  /* color: rgb(92, 92, 92); */
  
  font-size: 16px;
  
  position: absolute;
   /* Position it relative to the parent */
  /* right: 2%; */
  top: 85%;
  /* Centers the button vertically */
  /* Add more styles for button appearance */
  z-index: 2;
}
.toggleOn {
  position: absolute;
  top: 85%;
  left: 98%;
  
}
.toggleOff {
  position: absolute;
  top: 85%;
  left: 98%;
}


.moreInformationPanel {
  display: inline;
  background-color: #ffffff; 
  margin-top: 80px;
  margin-bottom: 0px;
  width: 100%;
  font-size: 32px;
  padding-bottom: 200px;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: center;
  z-index: 1;
  align-items: center;
}

.informationBox {
  background-color: #0e9dfd6c; 
  padding: 15px; 
  margin-top: 10px; 
  border-radius: 5px;
  width: 80%; 
  font-size: 15px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.circleButton {
  background-color: #0e9dfd6c;  /* Example color, change as needed */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circleButton:focus {
  outline: none;
}

.circleButton:not(:disabled):not(.disabled):active {
  background-color: #ff8b37; /* Darken color on click */
}

/* Adjust sizes for mobile responsiveness if needed */
@media (max-width: 768px) {
  .circleButton {
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
  }
}
.messageResult {
  font-size: 20px;
  color: rgb(255, 129, 38);
}

.messageResultP {
  font-size: 16px;
  color: black;
}
