.text {
  color:  #003559;
}
.debuglink1{
  bottom: 15%;
  position: absolute;
  left: 5%;
  z-index: 1;
}
.debuglink2{
  bottom: 15%;
  position: absolute;
  right: 5%;
  z-index: 4;
}

.homepage {
  position: absolute;
  width: 100%;
  height: 100%;
 
  z-index: 0;
}

.gradient {
  background: linear-gradient(180deg, #003559 100%, #FFF 100%);
  height: 90vh;
  justify-content: center;
  bottom: 20%;
}
.welcomeBack{
  position: relative;
  top: -2%;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.maincontent{
  display: flex;
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( #003559, white);
  height: 90vh;
}

.rectanglecompleted {
  color: white;
  position: absolute;
  background-color:  #003559;
  align-items: center;
  height: 15%;
  width: 50%;
  top: 0%;
  right: 0%;
  text-align: center;
  border-radius: 0px 60px 60px 0px;
  border: 1px solid #FFF;
  background: linear-gradient(180deg, rgba(0, 53, 89, 0.90) 0%, black 100%);
  z-index: 1;
}
.circlepicture {
  position: absolute;
  top: -15%;
  height: 55%;
  width: 65%;
  z-index: 3;
}
.profilePicture {
  position: absolute;
  top: -15%;
  height: 55%;
  /* width: 28%; */
  border-radius: 400px;
  z-index: 2;
}
.rectangleassigned {
  color: white;
  position: absolute;
  background-color: #003559;
  height: 15%;
  width: 50%;
  top: 0%;
  left: 0%;
  border: 1px solid #FFF;
  background: linear-gradient(180deg, rgba(0, 53, 89, 0.90) 0%, black 100%);
  text-align: center; 
  border-radius: 60px 0px 0px 60px;
  z-index: 1;
}

.containertext{
  top:0%;
  margin: 1%;
  color:white;
  font-weight: bold;
  font-size: 110%;
}

.vectoricon {
  position: absolute;
  height: 60%;
  width: 100%;
  bottom: 0%;
  overflow: hidden;
}

.frame {
  position: absolute;
  top: 3px;
  left: 96px;
  width: 140px;
  height: 110px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.beatthestreets,
.young-adult-employment {
  position: absolute;
  display: block;
  flex-shrink: 0;
}
.beatthestreets {
  font-weight: 700;
  font-size: 30px;
  width: 634px;
  height: 72px;
  left: 250px;
}
.youngadultemployment {
  font-size: 13px;
  width: 600px;
  height: 31px;
  margin-top: -9px;
  left: 250px;
}

.frame2 {
  width: 653px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameparent,
.frame1 {
  position: absolute;
  overflow: hidden;
}

.frameparent {
  top: 784px;
  left: 425px;
  width: 925px;
  height: 92px;
}
.assessments-container{
  position: absolute;
  display: flex;
  top: 22%;
  width: 74%;
  height: 70%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.homepagecopy2child {
  display: flex;
  position: absolute;
  justify-content: center;
  border-radius: 60px;
  background: linear-gradient(180deg, rgba(253, 132, 28, 0.90) 0%, rgba(253, 132, 28, 0.00) 100%);
  border: 1px solid #f0f3f5;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.backgroundGraphic {
  position: absolute;
  fill: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
  bottom: 0%;
  height: 60%;
  width: 100%;
  z-index: 0;
}
.footer {
  display: flex;
  bottom: 0%;
  position: absolute;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.BTSlogo {
  display: flex;
  align-items: center;
  height: 6%;
  width: 6%;
}
.BTStext{
  /* position: absolute; */
  display: block;
  font-size: 1.5rem;
}
.containerslider {
  width: 30%;
  height: 40%;
  position: relative;
  padding: 20px;
  top: 15%;
  z-index: 2;
  border-radius: 60px;
  
}
.containerlist {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  align-self: center;
  align-content: center;
}

.sidebarright {
  position: absolute;
  display: flex;
  height: 45%;
  width: 5%;
  top: 30%;
  right: 0%;
}
.sidebarleft {
  position: absolute;
  display: flex;
  height: 45%;
  width: 5%;
  top: 30%;
  left: -1%;
  transform: scaleX(-1);
}

.bubbleleft{
  position: absolute;
  overflow: hidden;
  left: 6%;
  top: 32%;
}

.bubbleright {
  position: absolute;
  overflow: hidden;
  right: 6%;
}
.assessmenttype{
  top:45%;
  position: absolute;
  margin: 1%;
  color:white;
  font-weight: 700;
  font-size: 45%;
  z-index: 4;
  justify-content: center;
  display: flex;
  left:10%;
  right: 10%;
}
/* .filter {
  display: flex;
  width: 250px;
  height: 150px;
  position: absolute;
  padding: 0px;
  top: 0px;
  z-index: 3;
  background: linear-gradient(180deg, rgba(253, 132, 28, 0.90) 0%, transparent 100%);
} */