:root {
  height: 100%;
  width: 100%;
  background-color: var(--color-darkslategray);
}
.input{
  color:#003559;
  width: 60%;
  height: 20%;
  margin: 0 auto;
  z-index: 2;
  display: block;
  border-radius: 8px;
  transition: scale 0.8s, color 0.8s;
  
}
input:hover{
  scale: 1.05;
  color: #003559;
}
/* .sign_in_parent {
  position: absolute;
  
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  height: 0%;
  width: 30%;
} */
.frame,
.frame_icon {
  position: absolute;
  overflow: hidden;
}
.frame_icon {
  /*bottom: 0;
  left: 0;
  width: 100vw;
  height: 0;
  min-height: 20rem;*/
  background-image: url(../assets/login/buildings_login.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*width: 80rem;
  height: 44.63rem;*/
}
.background {
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 0px;
  border-radius: var(--br-11xl);
  background: linear-gradient(180deg, #fff 8%, #ffe684);
  width: 25%;
  height: 100%;
  transition: scale 0.8s
 
}
.background:hover{
  scale:1.05;
}

.form{
  display:flex;
  align-items: center;
  width: 100%;
  height: 100%;
  top:20%;
}
.content{
  position: inherit;
  width: inherit;
  height: inherit;
  z-index:1;
}
.label{
  display: block;
  left: 5%;
  margin-top: 3%;
  margin-bottom: 1.5%;
  position: inherit;
  font-size: 16px;
  font-family: inherit;
  color: #003559;
}
.alt_text{
  display: block;
  left: 5%;
  margin-top: 3%;
  margin-bottom: 1.5%;
  position: inherit;
  font-size: 16px;
  font-family: inherit;
  color: #003559;
  padding-bottom: 25px;
}
.frame10,
.or {
  width: 11.5rem;
}
.or {
  position: relative;
  display: inline-block;
  height: 3.88rem;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
}
.submit_button {
  margin:5%;
  display: inline-block;
  height: 15%;
  width: 35%;
  font-size: 16px;
  flex-shrink: 0;
  background-color: lightyellow;
  border-color: #003559;
  border-radius: 15px;
  /*text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);*/
  font-size: 1.3rem;
  transition: scale 0.8s, background-color 0.8s, color 0.8s;
  z-index: 1;
}
.submit_button:hover {
  scale: 1.05;
  background: rgb(255, 119, 0);
  color: white;
  cursor: pointer;
}
.frame10 {
  position: absolute;
  top: 7.5rem;
  left: 9.81rem;
  height: 14.63rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frame_child {
  top: 2%;
  position: relative;
  margin: 0 auto;
  border-radius: 30px;
  background: linear-gradient(180deg, #003559, 85%, rgb(255, 119, 0));
  width: 20%;
  height: 30%;
  border-bottom:2px solid #003559;
}
.frame20 {
  position: absolute;
  top: -3.3rem;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sign_in {
  margin: 5%;
  position: relative;
  font-size: 28px;
  font-weight: 700;
 
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);

}
.frame30 {
  position: absolute;
  top: 1%;
  margin: 0 auto;
  width: 20%;
  height: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.5rem;
}
.frame40 {
  position: absolute;
  top: 2rem;
  left: 9.81rem;
  width: 11.5rem;
  height: 23rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.sign_up_with {
  position: relative;
  display: inline-block;
  top: 1.7rem;
  width: 11.5rem;
  height: 3.81rem;
  flex-shrink: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
}
.username {
  position: relative;
  display: inline-block;
  width: 11.56rem;
  height: 3.88rem;
  flex-shrink: 0;
  text-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.25);
}
.frame60,
.frame70 {
  position: absolute;
  top: 7rem;
  left: 4.62rem;
  width: 11.56rem;
  height: 16.63rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-darkslategray);
  font-size: 1.5rem;
}
.frame70 {
  top: 12.81rem;
  height: 5rem;
}
.linkedin_icon {
  width: 14%;
  height: 14%;
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
  transition: scale 0.8s
}
.linkedin_icon:hover {
   
  /* background-color: #fff;
  color: #003559; */
  cursor: pointer;
  scale: 1.05;
  
  
}
.facebook_icon {
  width: 18%;
  height: 18%;
  transition: transfer 0.8s;
  margin-left: 10px;
  margin-right: 10px;
  transition: scale 0.8s;
}
.facebook_icon:hover {
  /* background-color: #fff;
  color: #003559; */
  cursor: pointer;
  scale: 1.05;
}

.frame80 {
  /*border: black;
  border-style: solid;*/
  position: absolute;
  top: 3.81rem;
  width: 32rem;
  height: 37rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frame_item {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 16.69rem;
  height: 2rem;
}
.frame100,
.frame90 {
  position: absolute;
  top: 9.44rem;
  left: 7.37rem;
  width: 16.69rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame90 input {
  position: relative;
  width: 15rem;
  margin-top: 0.2rem;
  height: 1.2rem;
  overflow: hidden;
  border: hidden;
  z-index: 1;
  outline: none;
}
.frame100 {
  top: 15.26rem;
  justify-content: flex-end;
}
.frame100 input {
  position: relative;
  width: 15rem;
  margin-top: 0.2rem;
  height: 1.3rem;
  overflow: hidden;
  border: hidden;
  z-index: 1;
  outline: none;
}
.rectangle-div {
  position: relative;
  border-radius: 25px;
  background-color: #ffe684;
  width: 11.38rem;
  height: 0.38rem;
}
.frame110 {
  position: absolute;
  top: -1.85rem;
  left: 9.94rem;
  width: 11.38rem;
  height: 28.88rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.google_icon,
.frame120 {
  width: 14%;
  height: 14%;
  transition: scale 0.8s;
}
.google_icon:hover{
  
  cursor: pointer;
  scale: 1.05;
  
}
.frame120 {
  position: absolute;
  top: 26.2rem;
  left: 2.29rem;
  overflow: hidden;
}
.google_icon img {
  width: 8rem;
  height: 8rem;
  z-index: 1;
  border-radius: 50%;
}

.hide_icon {
  position: relative;
  width: 2.13rem;
  height: 2.25rem;
  object-fit: cover;
}
.frame_icon90,
.frame130 {
  position: relative;
  margin: 0 auto;
  top: 1%;
  overflow: hidden;
}
.frame130 {
  top: 20.44rem;
  left: 21.44rem;
  width: 2.13rem;
  height: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.line {
  top:1%;
  width: 50%;
}
.BTSlogo {
  
  display: block;
  margin: 20px auto;

  position: relative;
  object-fit: cover;
  width: 30%;
  height: 20%;
}
.frame_icon100,
.frame140 {
  position: absolute;
  overflow: hidden;
}
.frame140 {
  top: 2rem;
  left: 11.75rem;
  width: 7.44rem;
  height: 26.38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header{
  width: 100%;
  height: 7px;
}
.icons{
  position: inherit;
  margin: 0 auto;
  height: 10%;
  width: 50%;
  display: inline-block;
}
.frame_icon100 {
  top: 6.94rem;
  left: 22.87rem;
  width: 3.88rem;
  height: 30.75rem;
}
.copyright_icon {
  padding-top: 2%;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 0%;
  width: 10%;
  height: 5%;
  object-fit: cover;
}
.frame160 {
  bottom: 2rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.bubbles1{
  position:absolute;
  top: 15%;
  left:47%;
  width: 40%;
  height: 60%;
}
.bubbles2 {
  top:35%;
  position: absolute;
  right:49%;
  width: 40%;
  height: 50%;
}
.frame_icon130 {
  top: -7rem;
  left: 21.4rem;
  width: 18.43rem;
  height: 27.63rem;
}
.frame_icon140 {
  top: 0;
  left: -12.37rem;
  width: 19.45rem;
  height: 30.34rem;
}
.technical_support_icon {
  position: absolute;
  right:2%;
  bottom: 5%;
  width: 15%;
  height: 15%;
  transition: scale 0.8s;
}
.technical_support_icon:hover {
  cursor: pointer;
  scale: 1.05;
}
@media screen and ((max-width: 600px) or (max-height: 550px)) {
  .technical_support_icon { display: none; }
  .frame160 { display: none; }
}
.frame170 {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.go_back_icon {
  position: absolute;
  left:-0.2%;
  width: 2.82rem;
  height: 7rem;
  object-fit: cover;
  bottom: 5%;
  /* transition: color 0.8s, background-color 0.8s; */
  transition: scale 0.8s;
}
.go_back_icon:hover {
  /* background-color: #fff;
  color: #003559; */
  cursor: pointer;
  scale: 1.05;
}
@media screen and (max-width: 600px) {
  .go_back_icon { display: none; }
}
.frame180 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: -0.5%;
  bottom: 5%;
  overflow: hidden;
  justify-content: flex-end;
}
.locofy_login {
  
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
  background-image: url(../assets/login/buildings_login.svg);
  background-position:  bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

