@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
body {
  margin: 0;
  line-height: normal;
  background-color: #ddf1ff;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 1.5rem;
  --font-size-17xl: 2.25rem;
  --font-size-xs-8: 0.74rem;
  --font-size-8xl-9: 1.74rem;
  --font-size-12xl-4: 1.96rem;
  --font-size-13xl: 2rem;
  --font-size-xs-6: 0.73rem;
  --font-size-8xl-5: 1.72rem;

  /* Colors */
  --color-white: #fff;
  --color-cornflowerblue: #0fa0fe;
  --color-darkslateblue: #013b84;
  --color-black: #000;
  --color-gray: rgba(255, 255, 255, 0.8);
  --color-lightskyblue: #73c8ff;

  /* Gaps */
  --gap-429xl: 28rem;

  /* Border radiuses */
  --br-45xl-5: 64.5px;
  --br-11xl: 30px;
  --br-6xl-4: 25.4px;

  user-select: none;
}


.frame-child {
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-cornflowerblue);
    width: 1.38rem;
    height: 1.38rem;
  }
  .b-left {
    position: relative;
    top: 0.25rem;
  }
  .frame1 {
    position: absolute;
    top: 0.75rem;
    left: 0;
    width: 1.38rem;
    height: 1.38rem;
    overflow: hidden;
  }
  .frame2,
  .frame3,
  .frame4,
  .frame5,
  .frame6,
  .frame7 {
    position: absolute;
    top: 0.75rem;
    left: 2.06rem;
    width: 1.38rem;
    height: 1.38rem;
    overflow: hidden;
    text-align: center;
  }
  .frame3 {
    left: 4.13rem;
  }
  .frame4 {
    left: 6.19rem;
  }
  .frame5 {
    left: 8.25rem;
  }
  .frame6 {
    left: 10.31rem;
  }
  .frame7 {
    left: 12.38rem;
  }
  .frame-child-medium {
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-cornflowerblue);
    width: 2rem;
    height: 2rem;
    text-align: center;
  }
  .b-mid-left {
    position: relative;
    top: 0.3rem;
    text-align: center;
    font-size: large;
  }
  .frame8 {
    position: absolute;
    top: 0.44rem;
    left: 14.44rem;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
  }
  .frame-child-large {
    position: absolute;
    top: -0.19rem;
    left: -0.19rem;
    border-radius: 50%;
    background-color: var(--color-white);
    width: 3.25rem;
    height: 3.25rem;
  }
  .b-mid {
    position: relative;
    top: 0.38rem;
    text-align: center;
    width: 1.19rem;
    height: 2.08rem;
  }
  .b-mid > p {
    margin: 0;
  }
  .frame9 {
    position: absolute;
    top: 0;
    left: 17.13rem;
    width: 2.88rem;
    height: 2.88rem;
    overflow: hidden;
    font-size: 1.72rem;
    border-radius: 50%;
    color: var(--color-cornflowerblue);
  }
  .b-mid-right {
    position: relative;
    top: 0.3rem;
    text-align: center;
    font-size: large;
  }
  .frame10 {
    position: absolute;
    top: 0.44rem;
    left: 20.69rem;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
  }
  .frame11 {
    position: absolute;
    text-align: center;
    top: 0.75rem;
    left: 23.38rem;
    width: 1.38rem;
    height: 1.38rem;
    overflow: hidden;
  }
  .b-right {
    position: relative;
    top: 0.25rem;
  }
  .frame12,
  .frame13,
  .frame14,
  .frame15,
  .frame16 {
    position: absolute;
    top: 0.75rem;
    left: 25.44rem;
    width: 1.38rem;
    height: 1.38rem;
    overflow: hidden;
    text-align: center
  }
  .frame13 {
    left: 27.5rem;
  }
  .frame14 {
    left: 29.56rem;
  }
  .frame15 {
    left: 31.63rem;
  }
  .frame16 {
    left: 33.69rem;
  }
  .frame-parent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 37.13rem;
    height: 2.88rem;
    top: 11.25rem;
    overflow: hidden;
  }
  .frame-child91,
  .rectangle-div {
    position: absolute;
    top: 2.5rem;
    background-color: var(--color-gray);
    width: 20%;
    /*width: 26.19rem;*/
    height: 29.56rem;
  }
  .rectangle-div {
    left: 0;
    border-radius: 0 25.39px 25.39px 0;
  }
  .frame-child91 {
    left: 80%;
    border-radius: 25.39px 0 0 25.39px;
  }
  .rectangle-parent {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 35.13rem;
  }
  .frame-child94,
  .frame38,
  .rectangle-parent {
    position: absolute;
    top: 0;
    left: 0;
  }
  .frame38 {
    width: 100%;
    height: 35.13rem;
    overflow: hidden;
  }
  .frame-child94 {
    border-radius: var(--br-11xl);
    background-color: var(--color-white);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4);
    width: 61.56rem;
    height: 34.38rem;
  }
  .have-you-experienced-container {
    position: absolute;
    top: 0;
    left: calc(50% - 426.5px);
    font-weight: 500;
    display: inline-block;
    width: 53.31rem;
  }
  .frame40 {
    position: absolute;
    top: 3.5rem;
    left: 4.75rem;
    width: 53.31rem;
    height: 27.38rem;
    overflow: hidden;
  }
  .me,
  .not-me {
    position: absolute;
    font-weight: bolder;
    top: 8rem;
    left: 2.13rem;
    font-weight: 300;
    cursor: default;
  }
  .not-me {
    left: 43.19rem;
  }
  .group-icon,
  .me-parent {
    position: absolute;
    left: 0;
  }
  .group-icon {
    top: 0;
    width: 49.5rem;
    height: 7.13rem;
  }
  .me-parent {
    top: 7.19rem;
    width: 49.94rem;
    height: 10.06rem;
  }
  .frame42 {
    position: absolute;
    overflow: hidden;
    top: 8.56rem;
    left: 6.06rem;
    width: 49.94rem;
    height: 18rem;
    font-size: 1.96rem;
  }
  .me-button,
  .not-me-button {
    position: absolute;
    top: 2rem;
    left: 0rem;
    width: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }
  .not-me-button {
    left: 43rem;
  }
  .me-button:hover,
  .not-me-button:hover {
    cursor: pointer;
    scale: 1.1;
  }
  /*
  .me-not-me-button-icons {
    position: relative;
    width: 24.75rem;
    height: 6.06rem;
    overflow: hidden;
  }*/
  .frame-icon {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 49.5rem;
    height: 10.06rem;
  }
  .woman-seeking-psycholigists-h {
    position: absolute;
    top: 8.41rem;
    left: calc(50% - 275px);
    width: 34.38rem;
    height: 25.78rem;
    object-fit: cover;
  }
  .frame39,
  .frame44 {
    position: absolute;
    top: 0.09rem;
    left: 13.19rem;
    width: 34.38rem;
    height: 34.19rem;
    border-radius: 64.46px;
    overflow: hidden;
  }
  .frame39 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0.38rem;
    left: 0;
    width: 61.56rem;
    height: 34.38rem;
    box-shadow: 0 2px 5px black;
  }
  .frame37,
  .image-3-icon {
    position: absolute;
    left: 0;
  }
  .frame37 {
    top: 15.63rem;
    width: 100%;
    /*width: 118.06rem;*/
    height: 35.13rem;
    overflow: hidden;
  }
  .image-3-icon {
    top: 0;
    width: 5.05rem;
    height: 3.36rem;
    object-fit: cover;
  }
  .beat-the-streets,
  .young-adult-employment {
    position: absolute;
    left: 0;
    display: inline-block;
  }
  .beat-the-streets {
    top: 0;
    width: 17.72rem;
    height: 2.12rem;
  }
  .young-adult-employment {
    top: 2.13rem;
    font-size: 0.74rem;
    width: 18.23rem;
    height: 0.9rem;
  }
  .frame47 {
    position: absolute;
    top: 0.25rem;
    left: 5.46rem;
    width: 18.23rem;
    height: 3.04rem;
    overflow: hidden;
  }
  .image-3-parent {
    position: absolute;
    top: 0.94rem;
    left: 2.5rem;
    width: 23.69rem;
    height: 3.36rem;
  }
  .frame46 {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#fff, #fff), #fff;
    width: 100%;
    height: 5.19rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.74rem;
    font-family: var(--font-inter);
  }
  .frame,
  .frame36 {
    width: 100%;
    height: 50.75rem;
    overflow: hidden;
  }
  .frame36 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  .frame,
  .frame50,
  .question {
    position: absolute;
    top: 0;
  }
  .frame50 {
    /*width: 10.68rem;*/
    width: 100%;
    height: 3.38rem;
    font-weight: 500;
  }
  .vector-button {
    background-color: transparent;
    border-width: 0;
    padding-top: 0;
  }
  .vector-button:hover {
    cursor: pointer;
    scale: 1.2;
  }
  .vector-icon {
    position: relative;
    width: 1.2rem;
    height: 2.08rem;
  }
  .oouinext-ltr-icon {
    position: relative;
    width: 1.2rem;
    height: 2.08rem;
  }
  .vector-parent {
    position: absolute;
    top: 0.5rem;
    left: calc(50% - 252.1px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-429xl);
  }
  .back {
    position: absolute;
    height: 54.72%;
    top: 22.64%;
    left: calc(50% - 27.5px);
    display: inline-block;
    width: 3.63rem;
  }
  .frame52 {
    height: 100%;
    top: 0;
    bottom: 0;
    left: calc(50% - 204px);
    border-radius: 64.46px;
    background-color: var(--color-cornflowerblue);
    width: 11.94rem;
    overflow: hidden;
  }
  .frame52,
  .frame53,
  .next {
    position: absolute;
  }
  .next {
    height: 54.72%;
    top: 22.64%;
    left: calc(50% - 27.5px);
    display: inline-block;
    width: 3.44rem;
  }
  .frame53 {
    height: 100%;
    top: 0;
    bottom: 0;
    left: calc(50% + 13px);
    border-radius: 64.46px;
    background-color: var(--color-cornflowerblue);
    width: 11.94rem;
    overflow: hidden;
  }
  .frame-container,
  .frame-div {
    position: relative;
    top: 0;
    height: 3.31rem;
  }
  .frame-div {
    left: 3rem;
    width: 25.5rem;
  }
  .frame-container {
    left: 0;
    width: 31.51rem;
  }
  .back-button {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: calc(50% - 204px);
    border-radius: 64.46px;
    border: none;
    background-color: var(--color-cornflowerblue);
    width: 11.94rem;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-inter);
    font-weight: bold;
    pointer-events: auto;
  }
  .back-button:hover {
    cursor: pointer;
  }
  /*
  .back1 {
    position: absolute;
    height: 54.72%;
    top: 22.64%;
    left: calc(50% - 136px);
    display: inline-block;
    width: 3.63rem;
  }*/
  .next-button {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: calc(50% + 13px);
    border-radius: 64.46px;
    background-color: var(--color-cornflowerblue);
    border: none;
    width: 11.94rem;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-inter);
    font-weight: bold;
  }
  .next-button:hover {
    cursor: pointer;
  }
  /*
  .next1 {
    position: absolute;
    height: 54.72%;
    top: 22.64%;
    left: calc(50% + 81px);
    display: inline-block;
    width: 3.44rem;
  }*/
  .frame51 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 31.51rem;
    overflow: hidden;
    top: 46.88rem;
    height: 3.31rem;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  .frame49 {
    position: relative;
    width: 100%;
    top: 7.38rem;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-darkslateblue);
    font-family: var(--font-poppins);
    display: flex;
    flex-direction: row;
  }
  .answering-questions-pages {
    position: relative;
    width: 100%;
    height: 61.38rem;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xs-6);
    color: var(--color-white);
    font-family: var(--font-inter);
    font-family: var(--font-inter);
  }
  